actions-runner-controller:
  replicaCount: 2
  webhookPort: 9443
  defaultScaleDownDelay: 1m
  authSecret:
    enabled: true
    create: false
    name: controller-manager-secret
    externalSecretKey: github-actions-runner-controller-auth
  serviceAccount:
    create: true
  certManagerEnabled: true
  logFormat: json
  image:
    actionsRunnerRepositoryAndTag: ghcr.io/actions/actions-runner:latest
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi
  githubWebhookServer:
    enabled: true
    secret:
      enabled: true
      create: false
      name: github-actions-runner-controller-webhook-secret
      externalSecretKey: github-actions-runner-controller-webhook-secret
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
      ingressClassName: traefik
      tls:
        - hosts:
            - webhook.gha.karafra.net
          secretName: gha-webhook-tls
      hosts:
        - host: webhook.gha.karafra.net
          paths:
            - path: /
              pathType: Prefix
    service:
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
  actionsMetrics:
    serviceMonitor:
      enable: true
  actionsMetricsServer:
    enabled: true
    secret:
      enabled: true
      create: false
      name: controller-manager-secret
      externalSecretKey: github-actions-runner-controller-auth
  actionRunners:
    - name: runner-deployment-ubuntu-24.04
      apiVersion: actions.summerwind.dev/v1alpha1
      runnerLabels:
        - ubuntu-24.04
        - self-hosted
        - dependabot
      runnerGroup: self-hosted-ubuntu
      image: ghcr.io/actions/actions-runner:latest
      organization: KarafrOrg
      resources:
        requests:
          cpu: 100m
          memory: 1Gi
        limits:
          cpu: 1
          memory: 3Gi
  autoScalers:
    - name: gha-runner-deployment-autoscaler
      apiVersion: actions.summerwind.dev/v1alpha1
      scaleTargetRef:
        kind: RunnerDeployment
        name: runner-deployment-ubuntu-24.04
      maxReplicas: 10
      minReplicas: 1
      metrics:
        - type: PercentageRunnersBusy
          scaleUpThreshold: '0.75'
          scaleDownThreshold: '0.3'
          scaleUpAdjustment: 2
          scaleDownAdjustment: 1
